{% extends "_layout.html" %}
{% block main %}
<!-- <div class="main_super"> -->

    <div class="about_page">

        <div class="col_1">

            <div class="col_1_sub">
                <div class="title_custom">
                    <h1>What Sticks</h1>
                    <div id="small_screen_logo">
                        <img class="img_logo" src="{{ url_for('bp_main.website_images', filename='wsLogo180noName.png') }}"/>
                    </div>
                </div>

                <div class="std_frame_light_gray std_frame_download">
                    <div class="std_frame_sub">
                        <h3>Goal and Mission</h3>
                        Give users agency over their health data so they can reap the benefits from their own data.
                        <ul>
                            <li>Making your data accessible</li>
                            <li>Making your data useful</li>
                        </ul>
                        
                    </div>
                </div><!-- std_frame_light_gray -->

                <div class="std_frame_light_gray std_frame_download">
                    <div class="std_frame_sub">
                        <h3>In the news</h3>
                        
                        <ul>
                            <li><a href="{{ url_for('bp_main.what_sticks_video', filename='SleepTime20240130_shortDrawings.mp4') }}">Video</a> of iOS app you can download now.</li>
                            <li><a href="https://nick-rodriguez.info/what_sticks_video01">Video</a> of concept from 2022 prototype 
                                watch here</li>
                            <li><a href="https://medium.com/@nrodrig1/average-outside-temperature-has-no-impact-on-my-sleep-ce21ee7012c6">Article</a> 
                                using What Sticks data collection to provide insight on how temperature impacts my sleep. </li>
                            <li><a href="https://medium.com/@nrodrig1/healthcare-is-not-up-to-date-2e58c01c1477">Article</a> on advent of data in health in wellness </li>
                        </ul>
                    </div>
                </div><!-- std_frame_light_gray -->

                <div class="std_frame_light_gray std_frame_download">
                    <div class="std_frame_sub">
                        Contact Us: nrodrig1@gmail.com
                    </div>
                </div><!-- std_frame_light_gray -->




            </div><!-- col_1_sub -->
        </div><!-- col_1 -->
    </div><!-- home_page -->
<!-- </div>main_super -->



{% endblock %}