{% extends "_layout.html" %}
{% block main %}
<form method="POST" id="form_1" enctype="multipart/form-data"></form>
<form method="POST" id="form_2"></form>



<div class="admin_page">
    <!-- <div class="container"> -->
    <div class="col_1">
        <!-- <form method="POST" action="" enctype="multipart/form-data"> -->


        <div class="title_custom">
            <h1>Admin</h1>
            <div id="small_screen_logo">
                <img class="img_logo" src="{{ url_for('bp_main.website_images', filename='wsLogo180noName.png') }}" />
            </div>
        </div>



        <div class="std_frame_light_gray ">
            <div class="download_db_tables_form">
                Database Options
                <!-- <div class="home_sub"> -->
                <div class="home_buttons">
                    <a class="div_button home_register" href="{{ url_for('bp_admin.admin_db_download') }}">
                        Download
                    </a>

                    <a class="div_button home_login" href="{{ url_for('bp_admin.admin_db_upload') }}">
                        Upload
                    </a>

                </div><!-- home_buttons -->

                <!-- </div> -->

            </div><!-- download_db_tables_form -->
        </div><!-- std_frame_light_gray -->

        <div class="std_frame_light_gray ">
            <h2>Users</h2>
            {% for i,j in users_list.items() %}
            <ul class="ul_no_bullets">
                {% if j=='add privilege' %}
                <li>{{ i +'(' + j +')'}}</li>

                {% else %}
                <li>{{ i }} <a class="remove-image" href="{{ url_for('bp_admin.delete_user', email=i) }}"
                        style="display: inline;">&#215;</a></li>

                {% endif %}
            </ul>
            {% endfor %}
        </div>



    </div>
</div>
{% endblock %}